# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
.venv/
ENV/
env/
.env/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# IDEs and editors
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Other files
*.log
.env
